:root {
    --warm-wood: #3C1B0F;
    --juniper: #292F17;
    --leaf: #75a16d;
    --candle: #a14929;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
}


section {
    padding: 2rem 9%;
}

.heading {
    text-align: center;
    font-size: 4rem;
    color: black;
    padding: 1rem;
    margin: 2rem 0;
    background: rgba(160, 214, 186, 0.1); /* Light green background */
}

.heading span {
    color: var(--leaf);
}

.btn {
    display: inline-block;
    margin-top: 1rem;
    border-radius: 5rem;
    background: var(--warm-wood); /* Soft brown background */
    color: white;
    padding: .9rem 3.5rem;
    cursor: pointer;
    font-size: 1.7rem;
}

.btn:hover {
    background: var(--candle); /* Light green on hover */
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #fff;
    padding: 2rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
}

header .logo {
    font-size: 3rem;
    color: var(--warm-wood);
    font-weight: bolder;
}

header .navbar a {
    font-size: 2rem;
    padding: 0 1.5rem;
    color: black;
}

header .navbar a:hover {
    color: var(--candle);
}

header .icons a {
    font-size: 2rem;
    padding: 0 1.5rem;
    color: black;
}

header #toggler {
    display: none;
}

header .bar {
    font-size: 3rem;
    color: black;
    border-radius: .5rem;
    padding: .5rem 1.5rem;
    cursor: pointer;
    border: .1rem solid rgba(0, 0, 0, .3);
    display: none;
}

.home {
    display: flex;
    align-items: center;
    min-height: 100vh;
    background: url(c:/Users/GPU/Downloads/6917268_Motion_Graphics_Motion_Graphic_1080x1920.mov) no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}



.home .content {
    max-width: 50rem;
}

.home .content span {
    font-size: 3.5rem;
    color: var(--light-green);
    padding: 1rem 0;
    line-height: 1.5;
    font-weight: bold;
}

.home .content p {
    font-size: 1.5rem;
    color: white;
    padding: 1rem 0;
    line-height: 1.5;
}

.about .row {
    display: flex;
    align-items: stretch;
    gap: 2rem;
    flex-wrap: wrap;
    padding: 2rem 0;
    padding-bottom: 3rem;
}

.about .btn {
    border-radius: 5rem;
    width: fit-content;
    min-width: 0;
    display: inline-block;
    margin-top: 1rem;
    padding: .9rem 3.5rem;
    font-size: 1.7rem;
}



.about .row .video-container {
    flex: 1 1 40rem;
    position: relative;
}

.about .row .video-container video {
    width: 100%;
    border: 1.5rem solid var(--beige); /* Beige border */
    border-radius: .5rem;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    height: 100%;
    object-fit: cover;
}

.about .row .video-container h3 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;
    color: black;
    background: white;
    width: 100%;
    padding: 1rem 2rem;
    text-align: center;
    mix-blend-mode: screen;
}

.about .row .content {
    flex: 1 1 40rem;
}

.about .row .content h3 {
    font-size: 3rem;
    color: black;
}

.about .row .content p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5rem;
    color: grey;
    padding: 5rem 0;
    padding-top: 1rem;
    line-height: 1.5;
}

.about .row .video-container,
.about .row .content {
    flex: 1 1 40rem;
    display: flex;
    flex-direction: column;
    min-height: 400px;
}

.icons-container {
    background: #eee;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.icons-container .icons {
    background: white;
    border: .1rem solid rgba(0, 0, 0, .1);
    padding: 2rem;
    display: flex;
    align-items: center;
    text-align: center;
    flex: 1 1 calc(25% - 1.5rem);
}

.icons-container .icons img {
    height: 5rem;
    margin-right: 2rem;
}

.icons-container .icons h3 {
    color: black;
    font-size: 1.5rem;
}

.solutions .box-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 boxes per row */
    gap: 2rem;
    padding: 2rem 9%;
}

.solutions .box-container .box {
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    border-radius: .5rem;
    border: .1rem solid rgba(0, 0, 0, .1);
    position: relative;
    transition: transform .2s ease-in-out; /* Smooth transition on hover */
}

.solutions .box-container .box .icons {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    transition: bottom .3s ease-in-out;
}

.solutions .box-container .box:hover .icons {
    bottom: 1rem;
}

.solutions .box-container .box .icons a {
    height: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    width: 100%;
    color: white;
    text-align: center;
    display: block;
    text-decoration: none;
    opacity: 0; /* Initially hidden */
    transition: opacity 0.3s ease;
}

.solutions .box-container .box:hover .icons a {
    bottom: 0;
    opacity: 1; /* Show button on hover */
    background: var(--leaf);
}

.solutions .box-container .box .content {
    padding: 2rem;
    padding-bottom: 6rem;;
    text-align: center;
    background-color: #fff;
    border-bottom-left-radius: .5rem;
    border-bottom-right-radius: .5rem;
}

.solutions .box-container .box .content h3 {
    font-size: 2.2rem;
    color: #333;
    margin-bottom: 1.5rem;
}

.solutions .box-container .box .content p {
    font-size: 1.7rem;
    color: #666;
    line-height: 1.6;
    margin-bottom: 1.5rem;
}

/* Hover effect to zoom in the whole box */
.solutions .box-container .box:hover {
    transform: translateY(-5px);
}


.contact .row {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    flex-wrap: wrap-reverse;
    gap: 1.5rem;
    align-items: stretch;
}

.contact .row form {
    flex: 1 1 40rem;
    padding: 2rem 2.5rem;
    box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1);
    border: .1rem solid rgba(0, 0, 0, .1);
    background-color: white;
    border-radius: .5rem;
}

.contact .row .reviews {
    flex: 1 1 40rem;
    background: white;
    border: .1rem solid rgba(0, 0, 0, .1);
    box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1);
    border-radius: .5rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    max-height: 600px; /* Optional fixed height with scroll */
    overflow-y: auto; /* Scroll if overflow */
}

.contact .row .reviews .review {
    background: var(--leaf);
    font-size: 1.5rem;
    color: white;
    padding: 1.5rem;
    border-radius: .5rem;
    box-shadow: 0 .3rem .8rem rgba(0,0,0,0.1);
    font-style: italic;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 120px;
}

.contact .row .reviews .review h4 {
    margin-top: 1rem;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: bold;
    text-align: right;
}

.contact .row form .box {
    padding: 1rem;
    font-size: 1.7rem;
    color: black;
    text-transform: none;
    border: .1rem solid rgba(0, 0, 0, .1);
    border-radius: .5rem;
    margin: .7rem 0;
    width: 100%;
}

.contact .row form .box:focus {
    border-color: var(--light-green);
}

.contact .row form textarea {
    height: 15rem;
    resize: none;
}

.footer {
    background: rgba(160, 214, 186, .1); /* Light green background */
    padding: 2rem 9%;
    color: black;
    text-align: center;
    font-size: 1.6rem;
}

.footer .box-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem; /* Spacing between items */
}

.footer .box-container .box {
    display: flex;
    flex-direction: row; /* Inline style */
    align-items: center;
    gap: 1.5rem;
    font-size: 1.6rem;
}

.footer .box-container .box h3 {
    color: var(--light-green); /* Green for the header */
    font-size: 2rem;
}

.footer .box-container .box p {
    margin: 0;
    font-size: 1.5rem;
    color: #333;
}

.footer .box-container .box a {
    color: var(--light-green);
    text-decoration: none;
    margin: 0 .5rem;
}

.footer .box-container .box a:hover {
    text-decoration: underline;
    color: black;
}

.footer .credit {
    text-align: center;
    font-size: 1.5rem;
    color: #333;
    margin-top: 1rem;
}

.footer .credit span {
    color: var(--light-green); /* Green for the creator's name */
}

@media (max-width: 991px) {
    html {
        font-size: 55%;
    }

    header {
        padding: 2rem;
    }

    section {
        padding: 2rem;
    }

    .home {
        background-position: left;
    }
}

@media (max-width: 768px) {
    header .bar {
        display: block;
    }

    header .navbar {
        position: absolute;
        top: 100%;
        right: 0;
        left: 0;
        background: white;
        border-top: .1rem solid rgba(0, 0, 0, .1);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    header #toggler:checked~.navbar {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    header .navbar a {
        margin: 1.5rem;
        padding: 1.5rem;
        background: white;
        border: .1rem solid rgba(0, 0, 0, .1);
        display: block;
    }

    .home .content h3 {
        font-size: 5rem;
    }

    .home .content span {
        font-size: 2.5rem;
    }

    .icons-container .icons h3 {
        font-size: 2rem;
    }

    .icons-container .icons span {
        padding: 1.7rem;
    }
}

@media (max-width: 450px) {
    html {
        font-size: 50%;
    }

    .heading {
        font-size: 3rem;
    }
}
